{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
      <h1 class="display-3">Запомни все открытия.</h1>

      <p class="lead">Веди собственный журнал обучения! Создай список тем которые ты изучешь. Всякий раз,
          когда ты узнаешь что-то новое — делай записи. Такая структура позволит тебе сортировать заметки
          по темам и хранить их в одном месте.</p>

      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
         role="button">Регистрация</a>
  </div>

{% endblock page_header %}